<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704141099142-d1u75tlj53aqimbujfmt1unsqhp391sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704141099142-d1u75tlj53aqimbujfmt1unsqhp391sj</string>
	<key>API_KEY</key>
	<string>AIzaSyBV9J40FhA-1PyCtX28unj3XtZJnwI_5Ac</string>
	<key>GCM_SENDER_ID</key>
	<string>704141099142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zostel.app.ios</string>
	<key>PROJECT_ID</key>
	<string>zostel-app</string>
	<key>STORAGE_BUCKET</key>
	<string>zostel-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704141099142:ios:fe6adc89ec6633e8cc5107</string>
</dict>
</plist>